################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/*/obj
/*/bin
*.log
*.user
connectionStrings.config
log4net.config